<!DOCTYPE html>
<html>
<head>
  <title>The Smoking Rooster</title>
  <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
  <a href="/" class="main-title">
    The Smoking Rooster
  </a>
  <a href="http://twitter.com/roastedTofu" class="sub-title">@roastedTofu</a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">My Projects</a></li>
    </ul>
  </nav>
  <div class="login-area">
    {% if user %}
      {{user.name}} <a class="login-link" href="/logout">logout</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>
